apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ai-code-reviewer-storage
  namespace: test
  labels:
    app: ai-code-reviewer
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: alicloud-disk-ssd